# everything
/*


# except scripts
!/.local
/.local/*
!.local/scripts

# except nvim setup
!/.config
.config/*
!.config/nvim
.config/nvim/plugin/

# except zsh setup
!/.custom_zsh

# ignore these anyways so they stay ignored even if fiddling with above patterns
.secrets
.dotfiles
