[core]
	editor = nvim
	excludesfile = /home/sami/.gitignore.global
[push]
	autoSetupRemote = true
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[commit]
	template = /home/sami/.gitmessage
