# everything
/*

# except itself
.dotfiles

# except scripts
!/.local
/.local/*
!.local/scripts

# except nvim setup
!/.config
.config/*
!.config/nvim
.config/nvim/plugin/

# except zsh setup
!/.custom_zsh
.custom_zsh/plugins

# ignore secrets anyway in case of ignorefile going potato
.secrets

