[submodule ".custom_zsh/plugins/zsh-autosuggestions"]
	path = .custom_zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/samharju/synthweave.nvim"]
	path = plugins/samharju/synthweave.nvim
	url = git@github.com:samharju/synthweave.nvim.git
[submodule "plugins/samharju/tmux-synthweave-theme"]
	path = plugins/samharju/tmux-synthweave-theme
	url = git@github.com:samharju/tmux-synthweave-theme.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "plugins/samharju/yeet.nvim"]
	path = plugins/samharju/yeet.nvim
	url = git@github.com:samharju/yeet.nvim.git
