[submodule ".custom_zsh/plugins/zsh-autosuggestions"]
	path = .custom_zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
