[submodule "plugins/samharju/synthweave.nvim"]
	path = plugins/samharju/synthweave.nvim
	url = git@github.com:samharju/synthweave.nvim.git
[submodule "plugins/samharju/tmux-synthweave-theme"]
	path = plugins/samharju/tmux-synthweave-theme
	url = git@github.com:samharju/tmux-synthweave-theme.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
	branch = v2.3.35
[submodule "plugins/samharju/yeet.nvim"]
	path = plugins/samharju/yeet.nvim
	url = git@github.com:samharju/yeet.nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/ohmyzsh/plugins/zsh-autosuggestions"]
	path = .config/ohmyzsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/ohmyzsh/plugins/zsh-histdb"]
	path = .config/ohmyzsh/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb
[submodule "tooling/fzf"]
	path = tooling/fzf
	url = https://github.com/junegunn/fzf.git
