[core]
	excludesfile = /home/sami/.git_global
	editor = nvim
	pager = 
[push]
	autoSetupRemote = true
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[commit]
	template = /home/sami/.gitmessage
